.header {
    .title-container {
        .icon.icon-none {
            display: none;
        }
    }

    div.menu {
        margin-right: auto;
        transition: 0s !important;
    }

    div.menu:hover {
        transform: scale(1) !important;
    }

    div.menu:active {
        transform: scale(0.95) !important;
    }
}
