.modal-mask {
    position: fixed;
    background: rgba(255, 255, 255, 0.831);
    width: 100%;
    height: 100%;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        width: 100%;
        height: 100%;
        background: rgb(31, 31, 31);

        .modal-title {
            text-align: center;
         }

        .modal-header {
            .warning-panel {
                background: yellow;
                padding: 5px;
                font-size: 12px;
                color: rgb(31, 31, 31);
                display: flex;
                justify-content: center;
                align-items: center;

                .close-btn {
                    cursor: pointer;
                    transition: .2s;
                    margin-left: auto;
                }
            }

            .close-btn:active {
                transform: scale(0.9);
            }
        }

        .modal-main {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: calc(100% - 100px);
            align-items: center;

            .zeros-list {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-left: 15px;
                overflow: auto;

                .zero-item {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 20px;
                }
            }

            .p {
                padding: 15px;
                line-height: 30px;
            }
        }

        .about-modal {
            align-items: stretch;
            overflow-y: auto;
            overflow-x: hidden;

            .menu-item {
                padding: 15px;
                font-size: 14px;
                border-top: #545454 1px solid;
                display: flex;
                gap: 10px;
            }

            .content {
                font-size: 12px;
                padding: 10px;
                letter-spacing: 1px;
                line-height: 22px;

                .content-info {
                    display: flex; 
                    gap: 10px;
                }
            }

            .content.flex {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
    }
}