<div id="detailsContent" class="details-content">
    <div id="videoContainer" class="video">
        <video id="video" controls>
            <source type="video/mp4">
            Ваш браузер не підтримує програвання відео.
        </video>
    </div>
    <div id="warningPanel" class="warning-panel">
        Через специфіку функціонала завантаження відео за посиланням, система IOS часто блокує його. Тому, якщо відео недоступне тут,
        воно доступне за посиланням нижче.
        <div>
            <br>
            <a id="videoLink" target="_blank">Посилання на відео</a>
        </div>
    </div>
    <div class="details-item">
        <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="40px" height="40px" viewBox="0,0,256,256">
                <defs>
                    <linearGradient x1="22.651" y1="4.284" x2="25.348" y2="11.715" gradientUnits="userSpaceOnUse"
                        id="color-1">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                    <linearGradient x1="22.591" y1="14.075" x2="24.472" y2="24.01" gradientUnits="userSpaceOnUse"
                        id="color-2">
                        <stop offset="0" stop-color="#32bdef"></stop>
                        <stop offset="1" stop-color="#1ea2e4"></stop>
                    </linearGradient>
                    <linearGradient x1="22.474" y1="14.25" x2="25.356" y2="29.471" gradientUnits="userSpaceOnUse"
                        id="color-3">
                        <stop offset="0" stop-color="#32bdef"></stop>
                        <stop offset="1" stop-color="#1ea2e4"></stop>
                    </linearGradient>
                    <linearGradient x1="29.23" y1="22.589" x2="32.904" y2="30.753" gradientUnits="userSpaceOnUse"
                        id="color-4">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                    <linearGradient x1="16.23" y1="22.589" x2="19.904" y2="30.753" gradientUnits="userSpaceOnUse"
                        id="color-5">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                </defs>
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <g transform="scale(5.33333,5.33333)">
                        <path d="M24,12c-2.2,0 -4,-1.8 -4,-4c0,-2.2 1.8,-4 4,-4c2.2,0 4,1.8 4,4c0,2.2 -1.8,4 -4,4"
                            fill="url(#color-1)"></path>
                        <path d="M29,30h-4v12c0,1.105 0.895,2 2,2v0c1.105,0 2,-0.895 2,-2z" fill="#0d61a9"></path>
                        <path d="M23,30h-4v12c0,1.105 0.895,2 2,2v0c1.105,0 2,-0.895 2,-2z" fill="#0d61a9"></path>
                        <path d="M19,27v5h4c0,-0.552 0.448,-1 1,-1c0.552,0 1,0.448 1,1h4v-5z" fill="#0d61a9"></path>
                        <path
                            d="M16,23v-2.333c0,-3.676 2.991,-6.667 6.667,-6.667h2.667c3.675,0 6.666,2.991 6.666,6.667v2.333z"
                            fill="url(#color-2)"></path>
                        <path d="M25,14h-2c-2.209,0 -4,1.791 -4,4v9h10v-9c0,-2.209 -1.791,-4 -4,-4z"
                            fill="url(#color-3)"></path>
                        <path
                            d="M32,21h-3c0,0 0,8.221 0,8.5c0,0.828 0.672,1.5 1.5,1.5c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.279 0,3.779 0,-8.5z"
                            fill="url(#color-4)"></path>
                        <path
                            d="M19,21h-3c0,0 0,8.221 0,8.5c0,0.828 0.672,1.5 1.5,1.5c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.279 0,3.779 0,-8.5z"
                            fill="url(#color-5)"></path>
                    </g>
                </g>
            </svg>
        </div>
        <div style="align-self: center;">
            Емоційні стани цивільних: <span style="color: yellow;" id="cFeel"></span> <span id="cZero"
                class="zero-label">Zero-Point</span>
        </div>
    </div>
    <div class="details-item">
        <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="40px" height="40px" viewBox="0,0,256,256">
                <defs>
                    <linearGradient x1="17.651" y1="4.284" x2="20.348" y2="11.715" gradientUnits="userSpaceOnUse"
                        id="color-1">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                    <linearGradient x1="95.964" y1="308.73" x2="106.986" y2="227.08" gradientUnits="userSpaceOnUse"
                        id="color-2">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                    <linearGradient x1="43.964" y1="308.73" x2="54.986" y2="227.08" gradientUnits="userSpaceOnUse"
                        id="color-3">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                    <linearGradient x1="19" y1="12.837" x2="19" y2="23.051" gradientUnits="userSpaceOnUse" id="color-4">
                        <stop offset="0" stop-color="#33c481"></stop>
                        <stop offset="1" stop-color="#21a366"></stop>
                    </linearGradient>
                    <linearGradient x1="188.74" y1="199.25" x2="217.56" y2="397.123" gradientUnits="userSpaceOnUse"
                        id="color-5">
                        <stop offset="0" stop-color="#33c481"></stop>
                        <stop offset="1" stop-color="#21a366"></stop>
                    </linearGradient>
                    <linearGradient x1="35.0826" y1="31.93275" x2="39.17552" y2="37.18017"
                        gradientUnits="userSpaceOnUse" id="color-6">
                        <stop offset="0" stop-color="#ffcf54"></stop>
                        <stop offset="0.261" stop-color="#fdcb4d"></stop>
                        <stop offset="0.639" stop-color="#f7c13a"></stop>
                        <stop offset="1" stop-color="#f0b421"></stop>
                    </linearGradient>
                    <linearGradient x1="24.664" y1="36.072" x2="32.67" y2="14.076" gradientUnits="userSpaceOnUse"
                        id="color-7">
                        <stop offset="0.002" stop-color="#454545"></stop>
                        <stop offset="0.013" stop-color="#464646"></stop>
                        <stop offset="0.874" stop-color="#626262"></stop>
                        <stop offset="1" stop-color="#6d6d6d"></stop>
                    </linearGradient>
                    <linearGradient x1="139.212" y1="691.662" x2="172.204" y2="283.728" gradientUnits="userSpaceOnUse"
                        id="color-8">
                        <stop offset="0.002" stop-color="#454545"></stop>
                        <stop offset="0.013" stop-color="#464646"></stop>
                        <stop offset="0.874" stop-color="#626262"></stop>
                        <stop offset="1" stop-color="#6d6d6d"></stop>
                    </linearGradient>
                    <linearGradient x1="28.675" y1="33.376" x2="33.844" y2="47.578" gradientUnits="userSpaceOnUse"
                        id="color-9">
                        <stop offset="0" stop-color="#d4943b"></stop>
                        <stop offset="1" stop-color="#c2620e"></stop>
                    </linearGradient>
                    <linearGradient x1="245.23026" y1="193.93662" x2="345.76391" y2="35.99358"
                        gradientUnits="userSpaceOnUse" id="color-10">
                        <stop offset="0.002" stop-color="#454545"></stop>
                        <stop offset="0.013" stop-color="#464646"></stop>
                        <stop offset="0.874" stop-color="#626262"></stop>
                        <stop offset="1" stop-color="#6d6d6d"></stop>
                    </linearGradient>
                </defs>
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <g transform="scale(5.33333,5.33333)">
                        <path
                            d="M19,12c-2.20914,0 -4,-1.79086 -4,-4c0,-2.20914 1.79086,-4 4,-4c2.20914,0 4,1.79086 4,4c-0.00646,2.20646 -1.79354,3.99354 -4,4"
                            fill="url(#color-1)"></path>
                        <path d="M27,21v8.5c0,0.82843 -0.67157,1.5 -1.5,1.5c-0.82843,0 -1.5,-0.67157 -1.5,-1.5v-8.5z"
                            fill="url(#color-2)"></path>
                        <path d="M14,21v8.5c0,0.82843 -0.67157,1.5 -1.5,1.5c-0.82843,0 -1.5,-0.67157 -1.5,-1.5v-8.5z"
                            fill="url(#color-3)"></path>
                        <path
                            d="M20.334,14h-2.667c-3.6803,0.0043 -6.6627,2.9867 -6.667,6.667v7.333h3v-5h10v5h3v-7.333c-0.00418,-3.67996 -2.98604,-6.66227 -6.666,-6.667z"
                            fill="url(#color-4)"></path>
                        <path
                            d="M24,6h-10c-0.55228,0 -1,0.44772 -1,1c0,0.55228 0.44772,1 1,1h10c0.55228,0 1,-0.44772 1,-1c0,-0.55228 -0.44772,-1 -1,-1z"
                            fill="#107c42"></path>
                        <path
                            d="M23.5956,5.75c-0.44692,-2.18276 -2.36756,-3.74999 -4.5956,-3.74999c-2.22804,0 -4.14868,1.56724 -4.5956,3.74999c-0.10617,0.40807 -0.15809,0.82836 -0.1544,1.25h9.5c0.00369,-0.42164 -0.04823,-0.84193 -0.1544,-1.25z"
                            fill="#107c42"></path>
                        <rect x="11" y="21" width="16" height="2" fill="#343434"></rect>
                        <path
                            d="M20,14h-2c-2.2091,0.0001 -3.9999,1.7909 -4,4v9h10v-9c-0.0001,-2.2091 -1.7909,-3.9999 -4,-4z"
                            fill="url(#color-5)"></path>
                        <path
                            d="M14,27l0.941,16.06405c0.03294,0.52708 0.4699,0.93777 0.998,0.938h6.121c0.5281,-0.00023 0.96506,-0.41092 0.998,-0.938l0.942,-16.06405z"
                            fill="#107c42"></path>
                        <rect x="14" y="25" width="10" height="2" fill="#343434"></rect>
                        <rect x="16.08656" y="-10.78349" transform="rotate(45)" width="1.768" height="1.768" rx="0.5"
                            ry="0" fill="url(#color-6)"></rect>
                        <path d="M30,14v0c0.55228,0 1,0.44772 1,1v13h-2v-13c0,-0.55228 0.44772,-1 1,-1z"
                            fill="url(#color-7)"></path>
                        <path
                            d="M32.78087,35.02391l-0.78087,0.97609l-3,3v-18h2c1.10457,0 2,0.89543 2,2v11.39922c0,0.22707 -0.07728,0.44738 -0.21913,0.62469z"
                            fill="url(#color-8)"></path>
                        <path
                            d="M31.0897,36h-1.5897c-0.27614,0 -0.5,0.22386 -0.5,0.5v6.5c0,0.55228 0.44772,1 1,1h3.93026c0.28291,0.00149 0.55311,-0.11744 0.7431,-0.32707c0.18999,-0.20963 0.28184,-0.49019 0.25261,-0.77159c-0.19739,-2.20261 -0.97129,-4.31441 -2.24387,-6.123c-0.38166,-0.492 -0.96972,-0.77944 -1.5924,-0.77834z"
                            fill="url(#color-9)"></path>
                        <path
                            d="M33,30c-0.55228,0 -1,-0.44772 -1,-1c0,-0.55228 0.44772,-1 1,-1c1.59626,-0.00106 3.13186,-0.61165 4.293,-1.707c0.25181,-0.25641 0.62186,-0.35797 0.96928,-0.266c0.34742,0.09197 0.61876,0.36331 0.71072,0.71072c0.09197,0.34742 -0.00959,0.71747 -0.266,0.96928c-1.53144,1.4779 -3.57875,2.30048 -5.707,2.293z"
                            fill="url(#color-10)"></path>
                        <path d="M17,14l2,5l2,-5z" fill="#107c42"></path>
                    </g>
                </g>
            </svg>
        </div>
        <div style="align-self: center;">
            Емоційні стани військових: <span style="color: #53b1f9;" id="sFeel"></span> <span id="sZero"
                class="zero-label">Zero-Point</span>
        </div>
    </div>
    <div class="details-item">
        <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="40px" height="40px" viewBox="0,0,256,256">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <g transform="scale(5.33333,5.33333)">
                        <path
                            d="M47,25c-7.4,9.8 -13.5,8 -23,8c-14.5,0 -16,-5 -16,-13c0,-12.6 16.1,-12 17,-12c17,0 16,12 20,13"
                            fill="#f48fb1"></path>
                        <path
                            d="M8,18c0,9 2,12 2,12l-2,2v8h4c0,-2 0,-5 0,-5c0,0 7,-1 8,-5v-12zM34,27l-2,10v1h-4l-1,-9zM8,16h3v2h-3z"
                            fill="#f48fb1"></path>
                        <path
                            d="M8.5,18h-0.1h-0.3c-0.2,0 -0.3,0 -0.4,-0.1c-0.3,-0.1 -0.5,-0.2 -0.7,-0.3c-0.4,-0.2 -0.8,-0.5 -1.1,-0.8c-0.6,-0.6 -1.1,-1.3 -1.4,-2.2c-0.1,-0.4 -0.3,-0.9 -0.2,-1.4c0,-0.5 0.2,-1 0.5,-1.4c0.3,-0.4 0.6,-0.8 1.2,-0.9c0.6,-0.1 1.2,0.1 1.5,0.5c0.3,0.4 0.5,0.9 0.5,1.4c0,0.5 -0.1,0.9 -0.3,1.3c-0.2,0.4 -0.5,0.7 -0.8,1c-0.3,0.3 -0.7,0.4 -1.1,0.5c-0.8,0.1 -1.6,0 -2.3,-0.3c-0.7,-0.3 -1.3,-0.9 -1.5,-1.6c0.3,0.7 0.9,1.2 1.6,1.4c0.7,0.2 1.4,0.3 2.1,0.1c0.7,-0.2 1.1,-0.7 1.3,-1.3c0.3,-0.6 0.2,-1.2 -0.2,-1.5c-0.5,-0.3 -0.7,-0.1 -1,0.3c-0.2,0.5 -0.2,1 0.1,1.5c0.3,0.5 0.7,1.1 1.2,1.4c0.5,0.4 1,0.6 1.3,0.4z"
                            fill="#f48fb1"></path>
                        <path d="M40,21c0,0.6 -0.4,1 -1,1c-0.6,0 -1,-0.4 -1,-1c0,-0.6 0.4,-1 1,-1c0.6,0 1,0.4 1,1z"
                            fill="#000000"></path>
                        <path
                            d="M47,24c0,-1.7 -1.1,-3 -2.5,-3c-1.4,0 -2.5,1.3 -2.5,3c0,1.7 1.1,3 2.5,3c1.4,0 2.5,-1.3 2.5,-3z"
                            fill="#ec407a"></path>
                        <path
                            d="M44,24c0,-0.6 -0.2,-1 -0.5,-1c-0.3,0 -0.5,0.4 -0.5,1c0,0.6 0.2,1 0.5,1c0.3,0 0.5,-0.4 0.5,-1zM46,24c0,-0.6 -0.2,-1 -0.5,-1c-0.3,0 -0.5,0.4 -0.5,1c0,0.6 0.2,1 0.5,1c0.3,0 0.5,-0.4 0.5,-1z"
                            fill="#880e4f"></path>
                        <path
                            d="M41.4,16.4c1.5,-0.8 3.6,-2.8 3.6,-7.4c-2.4,1.2 -5.4,1.3 -7.5,2.7c1.8,1.4 3,3.2 3.9,4.7zM18.1,32.6c-1.6,1.2 -3.8,1.9 -5.1,2.2v5.2h4c0,-2 0,-5 0,-5c0,0 3.2,-0.5 5.6,-2c-1.7,-0.1 -3.2,-0.2 -4.5,-0.4zM32.8,33.1l-0.8,3.9v1h3v-1l0.9,-4.3c-1,0.2 -2.1,0.3 -3.1,0.4z"
                            fill="#f06292"></path>
                        <path d="M33.5,15.3c0,0 5,-1 5,-8c-4,2 -10,1 -10,8c0,0 1.1,-0.7 5,0z" fill="#f06292"></path>
                        <path d="M31,38l4,-1l1,3h-5zM13,38l4,-1l1,3h-5z" fill="#5d4037"></path>
                        <path d="M8,38l4,-1l1,3h-5zM28,38l4,-1l1,3h-5z" fill="#795548"></path>
                    </g>
                </g>
            </svg>
        </div>
        <div style="align-self: center;">
            Емоційні стани ворога: <span style="color: rgb(255, 95, 95);" id="eFeel"></span>
        </div>
    </div>
    <div class="details-item">
        <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="40px" height="40px" viewBox="0,0,256,256">
                <defs>
                    <linearGradient x1="25.06" y1="3.122" x2="25.06" y2="40.84" gradientUnits="userSpaceOnUse"
                        id="color-1">
                        <stop offset="0" stop-color="#fede00"></stop>
                        <stop offset="1" stop-color="#f5aa00"></stop>
                    </linearGradient>
                </defs>
                <g fill="url(#color-1)" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <g transform="scale(5.33333,5.33333)">
                        <path
                            d="M35.584,21h-8.584l9.118,-18.235c0.405,-0.811 -0.184,-1.765 -1.091,-1.765h-12.523c-0.894,0 -1.683,0.583 -1.946,1.437l-7.056,22.933c-0.25,0.81 0.356,1.63 1.203,1.63h7.895l-5.74,18.737c-0.175,0.459 0.419,0.818 0.744,0.45l18.796,-23.378c0.621,-0.702 0.122,-1.809 -0.816,-1.809z">
                        </path>
                    </g>
                </g>
            </svg>
        </div>
        <div style="align-self: center;">
            Ключові події та тригери:<br> <br><span id="trigger" style="line-height: 22px;"></span>
        </div>
    </div>
</div>