.info-item {
    padding: 15px;
    font-size: 14px;
    border-top: var(--modal-menu-border) 1px solid;
    display: flex;
    gap: 10px;
}

.info-item.v {
    padding: 5px 15px 5px 10px;
    border-top: 0;
    border-bottom: var(--modal-menu-border) 1px solid;
}

.last {
    border-bottom: var(--modal-menu-border) 1px solid;
}

.content {
    font-size: 12px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 22px;

    .content-info {
        display: flex;
        gap: 10px;
    }
}

.content.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}