.menu-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .menu-item {
        align-items: center;
        padding: 10px;
        cursor: pointer;
        border-top: none;
        height: 30px;
        padding: 15px;
        font-size: 14px;
        border-bottom: #545454 1px solid;
        display: flex;
        gap: 10px;

        &.zero-icon {
            margin-left: -10px;
        }

        &.subtitle {
            justify-content: center;
            font-size: 16px;
            background: #383838;
        }

        &.subtitle:hover, &.n:hover {
            cursor: default
        }

        &.n:hover {
            background: none;
        }

        &.warning {
            cursor: default;
            border: #d6aa29 2px solid;
            a {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .menu-item:hover {
        background: #343434;
    }
}