<div id="menu" class="menu" title="Відкрити меню">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px"  viewBox="0,0,256,256"><g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M0,7.5v5h50v-5zM0,22.5v5h50v-5zM0,37.5v5h50v-5z"></path></g></g></svg>
</div>
<div class="title-container">
    <div class="war-day">
        <a href="https://www.youtube.com/@TarasBilka" target="_blank"><span style="color:#53b1f9"> Кардіограма </span> 
              <span style="color:#fffb00">Нації</span>
        </a>
        |
        <input class="war-day-input" id="war-day-input" type="text" />
        <!--|
        <a href="" target="_blank" style="text-decoration:underline">! ЗБІР</a>-->
    </div>
</div>
