<div class="modal">
    <div class="modal-header">
        <div id="closePopupBtn" title="Закрити вікно" class="close-btn">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="32px" height="32px" viewBox="0,0,256,256">
                <g fill="#c9c9c9" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                    font-family="none" font-weight="none" font-size="none" text-anchor="none"
                    style="mix-blend-mode: normal">
                    <g transform="scale(8,8)">
                        <path
                            d="M16,4c-6.61558,0 -12,5.38443 -12,12c0,6.61557 5.38442,12 12,12c6.61558,0 12,-5.38443 12,-12c0,-6.61557 -5.38442,-12 -12,-12zM16,6c5.5347,0 10,4.46531 10,10c0,5.53469 -4.4653,10 -10,10c-5.5347,0 -10,-4.46531 -10,-10c0,-5.53469 4.4653,-10 10,-10zM12.70703,11.29297l-1.41406,1.41406l3.29297,3.29297l-3.29297,3.29297l1.41406,1.41406l3.29297,-3.29297l3.29297,3.29297l1.41406,-1.41406l-3.29297,-3.29297l3.29297,-3.29297l-1.41406,-1.41406l-3.29297,3.29297z">
                        </path>
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <div class="modal-main about-modal">
       <h3>Про сайт</h3>
        <p class="p">
            > Електронна репрезентація діаграми станів українців під час війни військового та блогера Тараса Білки. Є мобільна версія, а також можливість пошуку за днем війни.
            Тарас Білка - популярний український блогер, тепер військовий, кожного дня випускає відео, у яких розбирає стани цивільних та військових, а також тригери, що їх спричинили.<br>
            > Ютуб канал Тараса: <a href="https://www.youtube.com/@TarasBilka">https://www.youtube.com/@TarasBilka</a><br><br>
            <i class="warning">! Через численні скарги ворога на відео Тараса, йому довелось їх приховати, а тому вдалось перенести лише перших 150 днів війни, а також декілька останніх, які він опублікував на іншому каналі !</i>
            <br>
            <br>
            <b>Тримаймось! Все буде Україна! Не сцим, стоїм, *башим!</b>
            <br>
            <br>
            <small>Розробники: <a href="mailto: bviacheslav.12@gmail.com">Viacheslav Boiko</a></small>
            <br> 
            <small>2023 р. </small>
        </p>
    </div>
</div>