<div class="modal">
    <div class="modal-header">
        <div class="warning-panel">
            <marquee loop="-1">! Через дії ворога немає багатьох записів. Проте, як вони знову стануть доступні, вони обов'язково будуть цифровізовані !</marquee>
            <div id="closePopupBtn" title="Закрити вікно" class="close-btn">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="32px" height="32px" viewBox="0,0,256,256">
                    <g fill="#1f1f1f" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <g transform="scale(8,8)">
                            <path
                                d="M16,4c-6.61558,0 -12,5.38443 -12,12c0,6.61557 5.38442,12 12,12c6.61558,0 12,-5.38443 12,-12c0,-6.61557 -5.38442,-12 -12,-12zM16,6c5.5347,0 10,4.46531 10,10c0,5.53469 -4.4653,10 -10,10c-5.5347,0 -10,-4.46531 -10,-10c0,-5.53469 4.4653,-10 10,-10zM12.70703,11.29297l-1.41406,1.41406l3.29297,3.29297l-3.29297,3.29297l1.41406,1.41406l3.29297,-3.29297l3.29297,3.29297l1.41406,-1.41406l-3.29297,-3.29297l3.29297,-3.29297l-1.41406,-1.41406l-3.29297,3.29297z">
                            </path>
                        </g>
                    </g>
                </svg>
            </div>

        </div>
        
    </div>
    <div class="modal-title">
        <h4>Налаштування та інформація</h4>
    </div>
    <div id="settingsContent" class="modal-main about-modal">
        <!-- TODO: <div id="withoutData" class="menu-item">
            <div class="toggle">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
            </div>
            <div class="text" style="margin-top:2px;">
                <a>Не показувати дні без даних</a>
            </div>
        </div> -->

        <div id="asTaras" class="menu-item">
            <div class="toggle">
                <label class="switch">
                    <input id="asTarasToggle" type="checkbox">
                    <span class="slider round"></span>
                  </label>
            </div>
            <div class="text" style="margin-top:2px;">
                <a>Вигляд як у Тараса</a>
            </div>
        </div>
        <div id="about" class="menu-item">
            <div class="icon">
                >
            </div>
            <div class="text">
                Що це за сайт
            </div>
        </div>
        <div id="aboutContent"></div>
        <div id="howWorks" class="menu-item">
            <div class="icon">
                >
            </div>
            <div class="text">
                Як працює сайт
            </div>
        </div>
        <div id="howWorksContent"></div>      
    </div>
    
</div>
