<div class="content flex">
    <div class="content-info">
        <div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0,0,256,256"><g fill="#48acfb" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M42,13l-9,-8v16z"></path><path d="M34,15.999c0,0 -18,-0.001 -19,0c-1,0.001 -1,0.997 -1,0.997v4.004h-6v-5.001c0,-3.309 2.691,-5.999 6,-5.999h20zM6,35l9,8v-16z"></path><path d="M14,32.002c0,0 18,0 19,0c1,-0.002 1,-0.998 1,-0.998v-4.004h6v5.002c0,3.308 -2.691,5.998 -6,5.998h-20z"></path></g></g></svg>
        </div>
        <div>
            11.04.23 - Виправлено відображення у горизонтальній орієнтації на мобільних пристроях, а також реалізовано адаптацію до зміни типів розширення та екранної орієнтації.
        </div>
    </div>
</div>
