@font-face {
    font-family: 'e-Ukraine Head';
    src: url("fonts/e-UkraineHead-Regular.otf") format("opentype");
}

body {
    background: black;
    font-family: 'e-Ukraine Head';
    color: rgb(201, 201, 201);
    overflow: hidden;
    height: 100%;
}

a[href] {
    text-decoration: none;
    color: rgb(83, 177, 249);
}

h4 {
    margin: 0;
}
