@font-face {
    font-family: 'e-Ukraine Head';
    src: url("fonts/e-UkraineHead-Regular.otf") format("opentype");
}

body {
    background: var(--main-background);
    font-family: 'e-Ukraine Head';
    color: var(--main-text-color);
    overflow: hidden;
    height: 100%;
}

a[href] {
    text-decoration: none;
    color: var(--main-link-color);
}

h4 {
    margin: 0;
}


/* Chart styles */

#chart {
    height: calc(100vh - 60px);
    width: 100%;
}

.chart-canvas {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
}

.svg-circle-text,
.svg-polygon-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: underline;
}

.svg-circle-text:hover {
    fill: var(--yellow-color);
}

/* Animations */

@keyframes scale {
    0% {
        transform: scale(0.9)
    }

    100% {
        transform: scale(1)
    }
}

.scale-animation {
    animation: scale 0.3s forwards;
}

/* Scroll Bar styles */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--slider-second);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--modal-menu-border);
}
